{% extends "roombooking/base.html" %}

{% block title %}Booking Page{% endblock title %}

{% block content %}
    <h1><u>Main Page</u></h1>
    <p>This is the main page for the booking application.</p>
    <ul>
        <li>The view bookings tab allows you to see all of you personal bookings.</li>
        <li>The create booking tab brings up the grid for creating a booking. Click an empty cell to start the booking process.</li>
        <li>The chatbot tab is a page allowing interaction with an Azure chatbot, which should answer common questions about the bookings.</li>
        <li>Finally, the today's bookings tab shows a list of bookings taking place today. This gives access to the ongoing booking interaction pages.</li>
    </ul>
{% endblock content %}