{% extends "roombooking/base.html" %}

{% load static %}
{% block head_css_page %}

{% endblock head_css_page %}

{% block title %}Create Booking Page{% endblock title %}

{% block content %}
<h1><u>Automated Help Bot</u></h1>

<p>Ask questions about the booking process.</p>

<h2>Input Section</h2>

<iframe src='https://webchat.botframework.com/embed/fypbookingbot?s=WsIVUmpM0RA.dCp735Xj9lYu9rkIkldwqFW5gZBVrwCBXIkoRBc-7T8'  
style='min-width: 400px; width: 60%; min-height: 500px;'></iframe>


{% endblock content %}